/* adjusted styles for practicing.html */

#review {
	cursor: pointer;
}

#nav-bar {
	color: black;
}

#metronome-content {
	width: 64ex;
	max-width: 80%;
	margin: 0 auto;
	position: relative;
	padding-bottom: 15px;
}

#user-text {
  margin-top: 10px;
	margin-bottom: 5px;
  padding: 0;
  width: 100%;
	height: 100px;
  resize: none;
	overflow-y: scroll;
  border-radius: 5px;
  border: none;
  background-color: silver;
}

#steno-jig-link {
	color: blue;
  text-decoration: underline;
  font-weight: bold;
}

#word-lists button {
  background-color: white;
	border-radius: 5px;
}

#word-lists button:hover {
	background-color: lightgray;
}

#word-lists {
  background-color: teal;
  margin-bottom: 20px;
	border-radius: 5px;
	text-align: center;
	padding-bottom: 10px;
}

#word-lists div {
	color: gray;
	border-radius: 5px;
	background-color: silver;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#form h2 {
	margin: 0;
	padding: 0;
}

#word-lists h4 {
	padding-top: 10px;
	margin-bottom: 10px;
}

#word-lists h5 {
	padding-top: 5px;
	margin: 0;
}

#sequencer-mini {
  border: none;
  /* width: 100%; */
  /* margin: 0 auto; */
	/* margin-bottom: 2%; */
}

#controls-mini {
  border: none;
	margin-top: 15px;
  margin-bottom: -10px;
  font-size: 12px;
  padding: 0;
  width: 100%;
  border-radius: 5px;
}

#button-mini {
  transform: scale(0.6);
}

#bpm-label-mini {
  margin-left: 10%;
}

#exercise {
	width: 100%;
	margin: 0;
	padding: 0;
}

.center {
	display: none;
}

#lesson-and-nav {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

#drill-content {
	max-width: 90%;
}

#nav {
	margin-left: 2%;
}
