@media screen and (max-width: 1350px) {
  #nav-bar a {
    margin-right: 50%;
  }
}

@media screen and (max-width: 1050px) {
  #nav-bar a {
    margin-right: 40%;
  }
}

@media screen and (max-width: 850px) {
  #nav-bar a {
    margin-right: 30%;
  }
}

@media screen and (max-width: 700px) {
  #nav-bar a {
    margin-right: 20%;
  }
}

@media screen and (max-width: 750px) {
  #notebook-paper {
    left: 5%;
    top: 135%;
    width: 90%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    border-radius: 6px;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  }

  .lines {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  #notebook-paper {
    left: 5%;
    top: 135%;
    width: 90%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    border-radius: 6px;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  }

  .lines {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .vocabSpan {
    display: inline;
    border: 1px solid teal;
    margin: 2px;
  }
  .headingSpan {
    border: none;
  }
}

.vocabSpan:not(.headingSpan):hover {
  background-color: teal;
  opacity: 0.8;
  color: white;
}

.headingSpan {
  text-indent: 35px;
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 750px) {
  #narration {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  #narration {
    max-width: 100%;
    font-size: 11px;
    padding: 1px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1200px) {
  #practice {
    height: 90px;
    padding-bottom: 4px;
  }
  .practice-letter {
    height: 35px;
    line-height: 35px;
    min-width: 15px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  #practice {
    height: 60px;
    padding-bottom: 3px;
  }
  .practice-letter {
    height: 30px;
    line-height: 30px;
    min-width: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  #practice {
    height: 50px;
    padding-bottom: 2px;
    margin: 0;
  }
  .practice-letter {
    height: 25px;
    line-height: 25px;
    min-width: 8px;
    padding-left: 1px;
    padding-right: 1px;
    border: 1px solid black;
    font-size: 10px;
    box-shadow: none;
  }
}

@media screen and (max-width: 1200px) {
  #keyboard, #steno-order {
    transform: scale(0.9, 0.9);
  }
  #steno-order {
    margin-bottom: -12px;
  }
  #hands {
    transform: scale(0.9, 0.9) translate(-2px, 13px);
  }
}

@media screen and (max-width: 900px) {
  #keyboard, #steno-order {
    transform: scale(0.75, 0.75);
  }
  #steno-order {
    margin-bottom: -31px;
  }
  #hands {
    transform: scale(0.75, 0.75) translateY(35px);
  }
}

@media screen and (max-width: 700px) {
  #keyboard, #steno-order {
    transform: scale(0.55, 0.55);
  }
  #steno-order {
    margin-bottom: -56px;
  }
  #hands {
    transform: scale(0.55, 0.55) translateY(90px);
  }
}
